.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
  }

  &__channels {
    flex: 1;
  }

  &__addChannel {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  &__channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__voice,
  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
  }

  &__voiceInfo {
    flex: 1;
    padding: 10px;

    h3 {
      color: #4fb185;
    }

    p {
      font-size: smaller;
    }
  }

  &__voiceIcons {
    color: #4fb185;
  }

  &__voiceIcons {
    .MuiSvgIcon-root {
      padding: 10px;
    }
  }

  &__profileInfo {
    flex: 1;
    padding: 10px;

    h3 {
      color: white;
    }
  }

  &__profileIcons {
    .MuiSvgIcon-root {
      padding: 10px;
    }
  }
}
