.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  &:hover:nth-child(n + 2) {
    background-color: lightgray;
    border-radius: 10px;
  }

  h4 {
    margin-left: 20px;
    font-weight: 600;
  }

  .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2eb1f4;
  }
}
